.contentContainer {
  position: relative;
  padding: var(--size-10) var(--size-3);
  z-index: 1;
  height: 100vh;
}

.leftContent {
  padding-left: 3%;
  flex-basis: 50%;
  flex-shrink: 0;
  background-color: var(--green-10);
  color: var(--surface-3);
  z-index: var(--layer-1);
}

.leftHalfCircle {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: var(--layer-0);
}

.rightContent {
  flex-basis: 50%;
  flex-shrink: 0;
  background-color: var(--surface-3);
}

.subTextContainer {
  padding-top: 0px;
  z-index: 3;
}

.subText {
  padding-left: 5%;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: var(--text-5);
  z-index: 3;
}

.rightStar {
  text-align: right;
}

.imageContainer {
  margin-top: var(--size-5);
  text-align: center;
  width: 100%;
  height: 100%;
}
.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video {
  position: absolute;
  padding: 0;
  right: 5%;
  bottom: 0%;
  width: 40%;
  height: auto;
  border-radius: 12px;
  z-index: 4;
}

.videoFullScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 4;
  border-radius: 3px;
  transition: width 1s;
  right: 0;
  top: 167px;
}

.rightArrow {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.leftHeaderTxt {
  font-weight: 700;
  font-size: 48px;
  padding-bottom: 36px;
  line-height: 72px;
}

.leftHeaderTxt1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.baseContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 100%; /* Set width for the ripple effect */
  height: 180%; /* Set height for the ripple effect */
  border: 2px solid #fcfdff;
  border-radius: 100%; /* Make it circular */
  transform: translate(-50%, -50%); /* Center the ripple */
  pointer-events: none; /* Make sure it does not interfere with interactions */
  opacity: 0; /* Start invisible */
  z-index: 2;
  mix-blend-mode: difference;
}

.ripple1 {
  animation: ripple 8s infinite; /* First ripple */
}

.ripple2 {
  animation: ripple 8s infinite 2s; /* Second ripple with a delay */
}

.ripple3 {
  animation: ripple 8s infinite 4s; /* Third ripple with a delay */
}

.ripple4 {
  animation: ripple 8s infinite 6s; /* Third ripple with a delay */
}

.greenLine {
  width: 242px;
  height: 10.34px;
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0); /* Start from center */
    opacity: 1; /* Fully visible */
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5); /* Expand to full size */
    opacity: 0; /* Fade out */
  }
}


@media (max-width: $breakpoint-md) {
  .heroContainer {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .baseContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  .leftContent {
    flex-basis: 50%;
    flex-shrink: 0;
    background-color: var(--green-10);
    color: var(--surface-3);
    z-index: var(--layer-1);
  }

  .rightContent {
    flex-basis: 50%;
    flex-shrink: 0;
    z-index: var(--layer-1);
  }

  .contentContainer {
    height: 66vh;
    padding: var(--size-10) var(--size-10) var(--size-12) var(--size-3);
  }

  .subText {
    padding-left: 24px;
    font-weight: var(--font-weight-5);
    font-size: 18px;
    line-height: 27px;
    color: var(--text-5);
  }

  .leftHeaderTxt {
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 30px;
    text-align: left;
    padding-left: 0;
    padding-right: 24px;
    line-height: 40px;
  }

  .leftHeaderTxt1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
  }


.greenLine {
  position: absolute;
  width: 156px;
  height: 7.34px;
  z-index: -10;
}

  .videoFullScreen {
    position: absolute;
    object-fit: cover;
    z-index: 4;
    border-radius: 0px;
    transition: height 2s ease, top 2s ease;
  }

  .video {
    position: absolute;
    padding: 0;
    top: 94%;
    align-items: center;
    justify-items: center;
    bottom: 0%;
    width: 92%;
    border-radius: 12px;
    z-index: 4;
  }

  .subTextContainer {
    padding-top: 0px;
    margin: 0px;
    padding-bottom: 0px;
    z-index: 3;
  }

  .ripple {
    position: absolute;
    top: 46%; /* Center vertically */
    left: 50%; /* Center horizontally */
    width: 240%; /* Set width for the ripple effect */
    height: 100%; /* Set height for the ripple effect */
    border: 2px solid #fcfdff;
    border-radius: 100%; /* Make it circular */
    transform: translate(-50%, -50%); /* Center the ripple */
    pointer-events: none; /* Make sure it does not interfere with interactions */
    opacity: 0; /* Start invisible */
    z-index: 2;
    mix-blend-mode: difference;
  }
}
