.newsletterContainer {
  padding: var(--size-9) var(--size-3);
  background-color: var(--green-10);
  color: var(--surface-3);
  line-height: var(--font-lineheight-3);
  text-align: center;
}

.headerContainer {
  max-width: calc(var(--size-14) * 2);
  margin: auto;
}

.header {
  padding-bottom: var(--size-2);
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
}

.description {
  padding-inline: 25%;
  padding-bottom: var(--size-7);
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
}

.inputparentcontainer {
  background-color: var(--green-7);
  padding: var(--size-7) var(--size-8);
  border-radius: var(--radius-3);
  margin-bottom: var(--size-7);
}

.inputcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--size-8);
  text-align: left;
  padding-top: var(--size-7);
}

.submitBtnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  padding-top: var(--size-8);
  padding-bottom: var(--size-7);
}

.disclamer {
  width: calc(100vw/1.82);
  margin-right: 134px;
  text-align: left;
}


@media (max-width: $breakpoint-md) {

  .headerContainer {
    max-width: calc(var(--size-12) * 2);
    margin: auto;
  }
  
  .header {
    padding-bottom: var(--size-2);
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
  }
  
  .description {
    padding-inline: 12%;
    padding-bottom: var(--size-7);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  

  .inputcontainer {
    display: flex;
   flex-direction: column;
    gap: var(--size-7);
    text-align: left;
    padding-top: var(--size-7);
  }
 
  .submitBtnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: var(--size-7);
    padding-bottom: var(--size-4);
  }

  .disclamer {
    width: 69vw;
    margin-left: 18%;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 24px;
    padding-right: 0px;
  }
}