.topContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 5%;
}

.pageHeader{
    font-size: 64px;
    font-weight: 600;
    color: var(--green-10);
    padding-bottom: 16px;
}

.parentContainer{
    display: flex;
    flex-direction: row;
    margin: 5%;
}

.mobImg{
    display: none;
 }


.leftColumnContainer {
    display: flex;
    flex-direction: column;
    margin-right: 6%;
    justify-content: space-between;
}

.rightColumnContainer {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    justify-content: space-between;
}


.headerContainer {
    display: flex;
    flex-direction: row;   
}
.header{
    font-size: 64px;
    font-weight: 600;
    color: var(--text-5);
}

.description {
    color: var(--text-4);
    font-size: 28px;
     font-weight:   400;
    line-height:   42px;
    padding-top: 42px;
}
.divider {
    background-color: var(--text-5);
    height: 1px;
    width: 100%;
    margin-bottom: 24px;
}

.icon {
    padding-left: 12px;
    height: 90px;
    width: 90px;
}

.readMore{
    width: 168px;
    height: 51px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    background-color: transparent;
    color: var(--green-10);
    border-color: var(--green-10);
}

.headerDescriptionContainer {
    display: flex;
    flex-direction: column;
}



@media (max-width: $breakpoint-lg){

  
.pageHeader{
    font-size: 32px;
    font-weight: 600;
    color: var(--green-10);
    padding-bottom: 8px;
}

.parentContainer{
    display: flex;
    flex-direction: column;
    margin: 5%;
    justify-content: center;
    align-items: center;

}

.mobImg{
    display: flex;
    padding-top: 24px;
    width: 100%;
    height: auto;
}

.desktopImg {
    display: none;
    
}

.rightSideImage {
    display: flex;
    padding-top: 24px;
    width: 100%;
    height: auto;
}

.header{
    font-size: 32px;
    font-weight: 600;
    color: var(--text-5);
    line-height: 48px;
}

.description {
    color: var(--text-4);
    font-size: 14px;
     font-weight:   400;
    line-height:   21px;
    padding-top: 16px;
    padding-bottom: 14px;
}

.icon {
    padding-left: 12px;
    height: 48px;
    width: 48px;
}

.readMore{
    width: 124px;
    height: 38px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    background-color: transparent;
    color: var(--green-10);
    border-color: var(--green-10);
}

.leftColumnContainer {
    margin-right: 0%;
    justify-content: space-between;
}

.rightColumnContainer {
    margin-left: 0%;
    justify-content: space-between;
}

}