.aboutUsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--size-8);
  background-color: var(--surface-2);
  padding: var(--size-9) var(--size-10);
  align-items: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  align-items: center;
}

.aboutUsHeader {
  background-color: var(--green-10);
  max-width: fit-content;
  padding: 12px 32px;
  color: var(--surface-3);
  border-radius: var(--radius-2);
  border: none;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  text-wrap: nowrap;
}

.aboutUsDescription {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 27px;
  color: #333333;
}

.aboutUsContentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--size-7);
  color: var(--text-5);

}

.aboutUsContent {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  align-items: center;
}

.aboutUstext {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-wrap: nowrap;

}

.textIcon {
  height: var(--size-9);
  width: var(--size-9);
}

@media (min-width: $breakpoint-lg) {
  .aboutUsContainer {
    padding: var(--size-12) var(--size-7);
    gap: var(--size-10);
  }

  .aboutUsHeader {
    background-color: var(--green-10);
    max-width: fit-content;
    padding: 12px 32px;
    color: var(--surface-3);
    border-radius: var(--radius-2);
    border: none;
    font-size: 40px;
    font-weight: 400;
    text-align: justify;
    text-wrap: nowrap;
  }

  .aboutUsContentContainer {
    flex-direction: row;
    gap: var(--size-9);
  }

  .headerContainer {
    gap: var(--size-7);
  }

  .aboutUsContent {
    gap: var(--size-7);
  }

  .aboutUstext {
    font-size: var(--font-size-4);
    font-weight: 700;
  line-height: 48px;
  }

  .aboutUsDescription {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
  }

  .textIcon {
    height: 140px;
    width: 140px;
  }
}
