
 .tilesParentContainer {
  display: flex;
  flex-direction: column;
  height: 442px;
  width: 384px;
  background-color: var(--surface-3);
  align-items: flex-start;
  padding: 5%;
  border-radius: 12px;
  box-shadow: 
  0px 8px 24px #18274B14,  
  0px 6px 12px #18274B1F;
 }

 .imageContainer {
  display: flex;
  justify-content: center; /* Center-align the image */
  width: 100%;
  padding-bottom: 24px;
}

.image {
  width: 100%;
}

.title{
  font-size:18px;
  font-weight: 600;
  line-height: 27px;
  padding-bottom: 8px;
}

.description {
  font-size:18px;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 24px;
}




.readMore{
  width: 168px;
  height: 51px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  background-color: transparent;
  color: var(--green-10);
  border-color: var(--green-10);
}






@media (max-width: $breakpoint-lg){
  
  
  .imageContainer {
    display: flex;
    justify-content: center; /* Center-align the image */
    width: 100%;
    padding-bottom: 8px;
  }

  .title{
    font-size:16px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 6px;
  }
  
  .description {
    font-size:16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 16px;
  }

  .readMore{
    width: 94px;
    height: 38px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    background-color: transparent;
    color: var(--green-10);
    border-color: var(--green-10);
}


.tilesParentContainer {
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 310px;
  background-color: var(--surface-3);
  align-items: flex-start;
  padding: 5%;
  border-radius: 12px;
  box-shadow: 
  0px 8px 24px #18274B14,  
  0px 6px 12px #18274B1F;
 }

}