.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Space between rows */
  overflow: hidden; /* Hide overflowing content for marquee effect */
}
.marqueeTop {
  padding-bottom: 80px;
}
.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marqueeContent {
  display: inline-flex;
  gap: 2rem;
  align-items: center; /* Align images and text in the same line */
 }


/* Make sure the content stays continuous and loops properly */
.imageTextCombo {
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  align-items: center;
  text-align: center;
}

.imageWrapper {
  display: flex; /* Maintain alignment */
  align-items: center;
  justify-content: center;
  width: 120px; /* Adjust image size */
  height: 120px; /* Adjust image size */
  margin-inline: 40px; /* Space between image-text combos */
  overflow: hidden;
}

.image {
  width: 100%; 
  height: 100%; /* Maintain aspect ratio and keep images in bounds */
  object-fit: contain; /* Ensure the image fills the wrapper */
}

.text {
  margin-top: 8px; /* Space between image and text */
  font-size: 18px; /* Adjust font size */
  color: #333333; /* Adjust text color */
}



@media (max-width: $breakpoint-lg){
  .text {
    margin-top: 8px; /* Space between image and text */
    font-size: 14px; /* Adjust font size */
    color: #333333; /* Adjust text color */
  }

  .image {
    width: 60%; 
    height: auto; /* Maintain aspect ratio and keep images in bounds */
    object-fit: contain; /* Ensure the image fills the wrapper */
  }

  .imageWrapper {
    display: flex; /* Maintain alignment */
    align-items: center;
    justify-content: center;
    width: 100px; /* Adjust image size */
    height: 100px; /* Adjust image size */
    margin-inline: 30px; /* Space between image-text combos */
    overflow: hidden;
  }

  .marqueeTop {
    padding-bottom: 10px;
  }
}