.contactUsContainer {
  display: flex;
  flex-direction: column;  
  font-size: 18px;
  font-weight: 400;
  padding: var(--size-3) var(--size-6);
  background-color: #EBF3ED;
}

.contactUsContainerSecondary{
  display: flex;
  flex-direction: row;  
  font-size: 18px;
  font-weight: 400;
  padding: var(--size-3) var(--size-6);
  background-color:  #FCFDFF;
}

.contactUsContent {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.contactUstext {
  font-size: 18px;
  font-weight: 400;
  color: #195829CC;
  padding-bottom: var(--size-5);
  line-height: 27px;
  border-bottom: 1px solid var(--text-2);
}

.contactUs {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}

.contactUsLinkText {
  color: var(--green-10);
}

.goToLeftDesktop {
  display: none;
}

.goToLeftMweb {
  display: block;
  width: 64px;
  height: 64px;
}


@media (min-width: $breakpoint-lg) {
  .contactUsContainer {
    padding: var(--size-9) var(--size-9);
  }

  .contactUsContainerSecondary {
    padding: var(--size-9) var(--size-9);
  }

  .contactUstext {
    padding-bottom: var(--size-8);
    flex-basis: 82%;
      font-size: 32px;
      font-weight: 400;
      color: #195829CC;
      line-height: 48px;
      border-bottom: 1px solid var(--text-2);
  }

  .goToLeftMweb {
    display: none;
  }

  .goToLeftDesktop {
    display: block;
    width: 216px;
    height: 216px;
  }

  .contactUsContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .contactUsContent {
    flex-basis: 82%;
  }
}
