.contactUsContainer {
  display: flex;
  flex-direction: column;
  padding: var(--size-3) var(--size-9);
  background-color: var(--surface-2);
}

.contactUsContent {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.contactUstext {
  font-size: var(--font-size-2);
  color: var(--green-8);
  opacity: 0.8;
  padding-bottom: var(--size-5);
  line-height: var(--font-lineheight-3);
  border-bottom: 1px solid var(--text-2);
}

.contactUs {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}

.contactUsLinkText {
  color: var(--green-10);
}

.goToLeftDesktop {
  display: none;
}

@media (min-width: $breakpoint-lg) {
  .contactUsContainer {
    padding: var(--size-12) var(--size-10);
  }

  .contactUstext {
    font-size: var(--font-size-5);
    padding-bottom: var(--size-8);
    flex-basis: 85%;
  }

  .goToLeftMweb {
    display: none;
  }

  .goToLeftDesktop {
    display: block;
  }

  .contactUsContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .contactUsContent {
    flex-basis: 85%;
  }
}
