.parentContainer{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 5%;
  padding-inline: 5%;
}

.header{
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    color: var(--green-10);
    text-align: start;
    padding-bottom: 58px;
}

.certificationsImg {
  width: 100%;
  height: auto;
  padding-bottom: 16px;
}

.paragraph {
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  color: var(--text-5);
  padding-top: 48px;
}

@media (max-width: $breakpoint-lg){
  
  .header{
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color: var(--green-10);
    text-align: start;
    padding-bottom: 32px;
}

.certificationsImg {
  width: 100%;
  height: auto;
  padding-bottom: 8px;
}

.paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-5);
  padding-top: 16px;
}



}