.container {
  width: 100%;
  border-radius: var(--radius-1);
}

.containerGreen {
  width: 100%;
  border-radius: var(--radius-1);
}


.label {
  display: block;
  color: var(--surface-3);
  font-size: 18px;
  list-style: 27px;
  font-weight: 600;
  margin-bottom: var(--size-2);
}

.labelLight{
  
    display: block;
    color: var(--text-6);
    font-size: 18px;
    list-style: 27px;
    font-weight: 600;
    margin-bottom: var(--size-3);
  
}

.labelGreen{
  
  display: block;
  color: #195829;
  font-size: 18px;
  list-style: 27px;
  font-weight: 600;
  margin-bottom: var(--size-3);

}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--surface-3);
  color: var(--surface-3);
  font-size: var(--font-size-1);
  padding: var(--size-3) 0;
  align-items: start;
  justify-items: start;
  align-content: start;
}

.inputLight {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--text-5);
  color: var(--text-5);
  font-size: var(--font-size-1);
  padding-bottom: var(--size-3);
}

.input::placeholder {
  color: #f3f8ff87;
  font-size: 18px;
  list-style: 27px;
  font-weight: 400;

}

.inputLight::placeholder {
  color: #ADADAD;
  font-size: 18px;
  list-style: 27px;
  font-weight: 400;

}

.inputGreen {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333333;
  color: var(--surface-5);
  font-size: var(--font-size-1);
  padding: var(--size-4) 0;
  align-items: start;
  justify-items: start;
  align-content: start;
}


.inputGreen::placeholder {
  color: #5C5C5C;
  font-size: 18px;
  list-style: 27px;
  font-weight: 400;

}


.input:focus {
  outline: none;
  border-bottom-width: 2px;
}

.inputLight:focus {
  outline: none;
  border-bottom-width: 2px;
}

.inputGreen:focus {
  outline: none;
  border-bottom-width: 2px;
}


@media (max-width: $breakpoint-lg){

  .label {
    display: block;
    color: var(--surface-3);
    font-size: 16px;
    list-style: 24px;
    font-weight: 600;
    margin-bottom: var(--size-1);
  }


.inputGreen {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333333;
  color: var(--surface-5);
  font-size:  16px;
  padding: var(--size-2) 0;
  align-items: start;
  justify-items: start;
  align-content: start;
}


.inputGreen::placeholder {
  color: #5C5C5C;
  font-size: 16px;
  list-style: 24px;
  font-weight: 400;

}
}