.page {
    position: relative;
    display: flex;
    /* overflow: hidden; */
   flex-direction: row;
   align-items: end;
    margin: 5%;
    margin-bottom: 10%;
  }
  .carouselContainer{
    position: relative;
  }

  .controls {
    position: relative;
    z-index: 2;
    bottom: 160px;
    left: 120px;
  }
  .frameBackground {
    position: absolute;
    
    top: 0;
    left: 0;
    width: 68%;
    z-index: 0; /* Frame is on the bottom layer */
  }
  
  .contentContainer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-bottom: 80px;
  }
  
  .textContainer {

    top: 60px;
    left: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
   
    max-width: 60%;
    margin-inline: 20px;
  }
  
  .quoteIcon,
  .quoteIconRight {
    width: 24px;
    height: 24px;
    margin-right: 60px;
    margin-bottom: 24px;
    margin-top: 24px;

  }
  
  .quoteIcon {
    align-self: flex-start;
  }
  
  .quoteIconRight {
    align-self: flex-end;
  }
  
  .testimonial {
    margin: 10px 0;
    font-size: 24px;
    line-height: 36px;
    color: var(--text-5);
  }
  
  .profileContainer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profileImage {
    height: 500px;
    width: 417.22px;
    position: relative;
    z-index: 0;
    top: 25%;
    right: 10%;
  }
  
  .profileInfo {
    position: relative;
    z-index: 1;
    top: 530px;
    right: 30px;
    text-align: center;
  }
  
  .profileName
 {
    width: 300px;
    margin: 2px 0;
    font-size: 40px;
    line-height: 60px;
    font-weight: 500;
  }

  .profileRole {
    width: 300px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
  }
  
  .testimonialContainer{
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: relative;
  }
  
.pageInfo {
    font-size: 28px;
    color: var(--green-10);
    font-weight: 600;
    line-height: 42px;
    padding-inline: 8px;
}

  .controls {
   display: flex;
   flex-direction: row;
   align-items: center;
  }

  .previousControlButton {
    transform: rotateY(180deg);
    width: 72px;
    height: 72px;
  }

   .nextControlButton {
     width: 72px;
     height: 72px;
    }


  @media (max-width: $breakpoint-md) {

    .controls {
        position: relative;
        z-index: 2;
        bottom: 160px;
        left: 120px;
      }
    
      .controls {

        display: flex;
        bottom: 100px;
        left: 0px;
        display: flex;
        flex-direction: row;
        justify-items: center;
        justify-content: center;
        align-items: center;
       }

      .pageInfo {
        font-size: 18px;
        color: var(--green-10);
        font-weight: 600;
        line-height: 27px;
        padding-inline: 6px;
    }

    .previousControlButton {
       width: 40px;
       height: 40px;
      }

      .nextControlButton {
        width: 40px;
        height: 40px;
       }
   
    .page {
        position: relative;
        display: flex;
        /* overflow: hidden; */
       flex-direction: column;
       /* align-items: end; */
        margin: 5%;
        margin-bottom: 
        10%;
      }
.contentContainer{
    display: flex;
    flex-direction: column;
}

    .frameBackground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0; /* Frame is on the bottom layer */
      }

      .testimonialContainer{
        display: flex;
        flex-direction: column;
        padding-top: 14px;

      }

    .textContainer {
        top: 16px;
        left: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
       
        max-width: 80%;
        margin-inline: 5px;
      }

      .profileInfo {
       display: flex;
       flex-direction: column;
       align-items: center;
        text-align: center;
        position: relative;
        z-index: 1;
        top: 18px;
        right: 0px;
        left: 0px;
      }

      .mobProfileImage {
        display: flex;
        width: 100%;
        justify-content: center;
        justify-items: center;
        align-items: center;
      }

    .profileImage {
        display: flex;
        height: 250px;
        width: 208.22px;
        position: relative;
        z-index: 0;
        right: 0%;
        left: 0%;
      } 

      .testimonial {
        margin: 6px 0;
        font-size: 10px;
        line-height: 15px;
        color: var(--text-5);
      }

      .profileName
 {
    width: 240px;
    margin: 2px 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
  }

  .profileRole {
    width: 240px;
    font-size: 14px;
    line-height: 27px;
    font-weight: 400;
  }
  }