
.tabsContainer { display: flex;
    width: 100%;
    flex-direction: column;
    padding-inline: 5%;
    margin-bottom: 10%;
  }
  
  .tabs {
    display: flex;
    border-bottom: 1px solid transparent; 
    font-size: 28px;
    font-weight: 400;
  }
  
  .tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
  }
  
  .selectedTab {
    color: var(--green-10); /* Change color for selected tab */
  }
  
  .unselectedTab {
    color: var(--text-1); /* Change color for unselected tabs */
  }
  
  .selectedTab::after {
    content: '';
    display: block;
    height: 1px;
    background-color: green; /* Green underline for selected tab */
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px; /* Adjust position as needed */
  }
  
  .unselectedTab::after {
    content: '';
    display: block;
    height: 1px;
    border-bottom: 1px dashed lightgreen; /* Dashed light green divider for unselected tabs */
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px; /* Adjust position as needed */
  }
  
  .content {
    padding: 48px 0px;
    font-size: 18px;
  }

   .contentHeading {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-5);
    padding-bottom: 24px;
   }

   .paragraph {
    font-size: 24px;
    font-weight: 400;
    color: var(--text-4);
    padding-right: 10%; padding-bottom: 32px;
   }
   
   .text {
    font-size: 28px;
    font-weight: 400;
    color: var(--text-5);
    padding-left: 12px;
   }
  
  .iconSpanDiv {
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;
    align-items: center;
  }

  .checkIcon{
    height: 24px;
    width: 24px;
  }


  @media (max-width: $breakpoint-lg){
  


.tabsContainer { display: flex;
  width: 100%;
  flex-direction: column;
  padding-inline: 5%;
  margin-block: 10%;
}

.tabs {
  display: flex;
  border-bottom: 1px solid transparent; 
  font-size: 16px;
  font-weight: 600;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.content {
  padding: 48px 0px;
  font-size: 18px;
}

 .contentHeading {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-5);
  padding-bottom: 8px;
 }

 .paragraph {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-4);
  padding-right: 10%; 
  padding-bottom: 24px;
 }
 
 .text {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-5);
  padding-left: 8px;
 }

.iconSpanDiv {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
  align-items: center;
}

.checkIcon{
  height: 24px;
  width: 24px;
}

  
  
  }