.keyServicesContainer {
  padding: var(--size-9) var(--size-5) ;
}

.mobImageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}

.header {
  color: var(--green-10);
}

.imageContainer{
  display: none;
}

.subText {
  font-weight: 500;
  padding-bottom: var(--size-3);
}

.description {
  color: var(--text-4);
  line-height: var(--font-lineheight-3);
}

.accordion {
  margin-top: var(--size-5);
}


.item {
  padding-top: 6px;
    padding-bottom: 14px;
    border-bottom: 1px solid var(--text-2);
    background-color: white;
}

.itemBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: var(--font-size-h4);
  text-align: left;
  color: var(--text-5);
  background-color: transparent;
  border: none;
}







.itemContent {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel {
  padding: var(--size-3);
  line-height: var(--font-lineheight-3);
  color: var(--text-4);
}

.chevron {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}




@media (min-width: $breakpoint-lg) {
  
  .imageContainer{
    display: flex;
  }
  
  .subText {
    font-size: 48px;
    font-weight: 500;
    padding-bottom: var(--size-3);
  }
 

  .keyServicesContainer {
    padding: var(--size-11) var(--size-8) var(--size-12) var(--size-10) ;
  }
  .header {
    font-size: 64px;
    margin-bottom: var(--size-5);
  }

  .description {
    font-size: 28px;
    line-height: 42px;
    
  }
  .accordion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--size-9);
  background-color: white;
  color: white;
  
  }

  .accordionItem{
    width: 60vw;

  }

  .item {
    padding-top: 12px;
    padding-bottom: 28px;
    border-bottom: 1px solid var(--text-2);
    background-color: white;
  }


  .item:hover {
    background-color: white;
  }

  .itemPanel {
    padding: var(--size-5);
  }
  .itemBtn {
    background-color: white;
    padding: var(--size-5);
    font-size: 40px;
    line-height: 60px;
    font-weight: 500;
  }

  .itemBtn:hover {
    background-color: white;
  }

  .itemPanel {
    background-color: white;
    font-size: 28px;
    line-height: 42px;
    font-weight: 400;
  }

  .itemPanel:hover {
    background-color: white;
  }

  .mobImageContainer{
    display: none;
  }
}
