.hero {
    display: flex;
    overflow: hidden; 
    width: 100%;
    height: auto;
  }

  .titleContainer{
    padding: 10% 5%;
    justify-items: start;
    align-items: start;
  }
  
  .headerContainer{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-bottom: var(--size-7);
  }

.headerText {
    font-size: var(--size-6);
    padding-left: var(--size-3);
    font-weight: 400;
    
}

.subheaderText {
    font-size: var(--size-8);
    padding-left: var(--size-3);
    font-weight: 500;
    align-items: start;
    text-align: start;
    color: var(--text-5);
    padding-left: 0px;
}

.onlineOffline {
    font-size: var(--size-8);
    font-weight: 700;
    align-items: start;
    text-align: start;
    color: var(--green-10);
}

.benefitsParentContainer {
   display: flex;
   flex-direction: row; 
   margin-inline: 5%;
   margin-bottom: 5%;
}

.benefitsContainer {
    position: relative;
    width: fit-content;
   
  }
  
  .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 112px;
    height: auto;
    z-index: 1; 
  }
  
  .svgImage {
    width: 100%;
    height: auto;
  }
  
  .textContainer {
    position: relative;
    margin-left: 30px; /* Adjust this value to control the left spacing from the SVG */
    z-index: 2; /* Ensures the text is above the image */
    padding: 10px; /* Optional: Adds padding around the text */
  }
  
  .benefit {
    color: var(--text-5);               /* Change text color as needed */
    font-size: var(--size-6);
    font-weight: 600;           /* Adjust font size as needed */
    text-align: start;
    padding-bottom: 36px;
  }
  
  .benefitDescription {
    text-align: start;         /* Center the additional text */
    font-size: var(--size-6);
    font-weight: 400;            /* Adjust font size as needed */
    color: var(--text-4);       
  }
  
  .divider {
    width: 100px;         /* Set the width of the divider */
    height: 4px;          /* Set the thickness of the divider */
    margin-top: var(--size-7);
    background-color: var(--green-10); /* Set the color of the divider */
  }




@media (max-width: $breakpoint-lg){
   
.benefitsParentContainer {
    display: flex;
    flex-direction: column; 
    margin-inline: 5%;
    margin-bottom: 5%;
 }
 
 .benefitsContainer {
     position: relative;
     width: fit-content;
     padding-bottom: 24px;
   }
   
   .imageContainer {
     position: absolute;
     top: 0;
     left: 0;
     width: 76px;
     height: auto;
     z-index: 1; 
   }
   
   .svgImage {
     width: 100%;
     height: auto;
   }
   
   .textContainer {
     position: relative;
     margin-left: 20px; /* Adjust this value to control the left spacing from the SVG */
     z-index: 2; /* Ensures the text is above the image */
     padding: 10px; /* Optional: Adds padding around the text */
   }
   
   .benefit {
     color: var(--text-5);               /* Change text color as needed */
     font-size: 18px;
     font-weight: 600;        /* Adjust font size as needed */
     text-align: start;
     padding-bottom: 36px;
   }
   
   .benefitDescription {
     text-align: start;         /* Center the additional text */
     font-size: 16px;
        line-height: 24px;
     font-weight: 400;            /* Adjust font size as needed */
     color: var(--text-4);       
   }
   
   .divider {
     width: 94px;         /* Set the width of the divider */
     height: 2px;          /* Set the thickness of the divider */
     margin-top: var(--size-7);
     background-color: var(--green-10); /* Set the color of the divider */
   }
}

@media (max-width: $breakpoint-md) {
    .headerText {
        font-size: var(--size-4);
        font-weight: 400;
    padding-left: var(--size-1);
    }
    
    .subheaderText {
        font-size: 20px;
        padding-left: var(--size-3);
        font-weight: 400;
        align-items: start;
        text-align: start;
        color: var(--text-5);
        padding-left: 0px;
    }

    .onlineOffline {
        font-size: var(--size-4);
        font-weight: 500;
        align-items: start;
        text-align: start;
        color: var(--green-10);
    }
}