.parentContainer{
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.reviewsContainer {
 
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--size-8) var(--size-3) var(--size-9) var(--size-3);
  }
  
  .mapContainer {
    position: relative; 
    display: flex;
    justify-content: center;
    height:  204px;
    width: 100%;
    padding-inline: 20px;
  }

  .testimonialText{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-4);
    color: var(--green-10);
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
  }

  .headerText {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-6);
    color: var(--text-5);
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
  }
  
  .imageWithText {
    position: absolute; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imagePosition1{
    top: 0px;
    left: 240px;
  }

  .imagePosition2{
    top: 60px;
    left: 310px;
  }
  .imagePosition3{
    top: 80px;
    left: 240px;
  }
  

  .clients {
    position: absolute;
    display:  flex;
    align-items: center;
    height: 52px;
    width: 52px;
    top: 60px;
    left: 180px;
  }
  
  .imageWithText img {
    height: 40px;
    width: 40px;
  }
  
  .boxedText {
    margin-top: 5px;
    background-color: var(--green-10);
    font-size: var(--font-size-00);
    font-weight: var(--font-weight-4);
    text-emphasis-color: var(--surface-1);
    line-height: var(--size-4);
    color: var(--surface-1);
    padding-left: var(--size-2);
    padding-right: var(--size-2);
  }
  
  /* Media Query for larger screens */
  @media (min-width: $breakpoint-md) {
    .reviewsContainer {
      padding: var(--size-8) var(--size-10);
    }
  
    .mapContainer {
      height: 420px;
      width: 960px;
    }

    .imagePosition1{
        top: 10px;
        left: 600px;
      }
    
      .imagePosition2{
        top: 120px;
        left: 700px;
      }
      .imagePosition3{
        top: 160px;
        left: 600px;
      }

      .clients {
        position: absolute;
        display:  flex;
        align-items: center;
        height: 110px;
        width: 98px;
        top: 100px;
        left: 440px;
      }

      .boxedText {
        margin-top: 8px;
        background-color: var(--green-10); /* Light background for the boxed text */
        font-size: var(--font-size-01);
        font-weight: var(--font-weight-4);
        text-emphasis-color: var(--surface-1);
        line-height: var(--size-5);
        color: var(--surface-1);
        padding-left: var(--size-3);
        padding-right: var(--size-3);
      }

      .imageWithText img {
        height: 80px;
        width: 80px;
      }
      .testimonialText{
        font-size: 32px;
        font-weight: var(--font-weight-5);
        color: var(--green-10);
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
      }
    
      .headerText {
        font-size: 56px;
        font-weight: var(--font-weight-6);
        color: var(--text-5);
        align-items: center;
        text-align: center;
        padding-bottom: 110px;
      }
      
      
  }

  @media (min-width: $breakpoint-lg) {
    .reviewsContainer {
      padding: var(--size-8) var(--size-10);
    }
  
    .mapContainer {
      height: 520px;
      width: 1310px;
    }

    .imagePosition1{
        top: 0px;
        left: 830px;
      }
    
      .imagePosition2{
        top: 140px;
        left: 960px;
      }
      .imagePosition3{
        top: 200px;
        left: 820px;
      }

      .clients {
        position: absolute;
        display:  flex;
        align-items: center;
        height: 122px;
        width: 118px;
        top: 100px;
        left: 613px;
      }


      .boxedText {
        margin-top: 10px;
    background-color: var(--green-10); /* Light background for the boxed text */
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-5);
    text-emphasis-color: var(--surface-1);
    line-height: var(--size-6);
    color: var(--surface-1);
    padding-left: var(--size-5);
    padding-right: var(--size-5);
      }

      .imageWithText img {
        height: 100px;
        width: 100px;
      }

      .testimonialText{
        font-size: 32px;
        font-weight: var(--font-weight-5);
        color: var(--green-10);
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
      }
    
      .headerText {
        font-size: 56px;
        font-weight: var(--font-weight-6);
        color: var(--text-5);
        align-items: center;
        text-align: center;
        padding-bottom: 110px;
      }
      
  }

  @media (min-width: $breakpoint-xl) {
    .reviewsContainer {
      padding: var(--size-8) var(--size-10);
    }
  
    .mapContainer {
      height: 520px;
      width: 100%;
    }

    .imagePosition1{
        top: 0px;
        left: 830px;
      }
    
      .imagePosition2{
        top: 140px;
        left: 960px;
      }
      .imagePosition3{
        top: 200px;
        left: 820px;
      }

      .clients {
        position: absolute;
        display:  flex;
        align-items: center;
        height: 122px;
        width: 118px;
        top: 100px;
        left: 613px;
      }

      .boxedText {
        margin-top: 10px;
    background-color: var(--green-10); /* Light background for the boxed text */
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-5);
    text-emphasis-color: var(--surface-1);
    line-height: var(--size-6);
    color: var(--surface-1);
    padding-left: var(--size-5);
    padding-right: var(--size-5);
      }

      .imageWithText img {
        height: 100px;
        width: 100px;
      }
      .testimonialText{
        font-size: 32px;
        font-weight: var(--font-weight-5);
        color: var(--green-10);
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
      }
    
      .headerText {
        font-size: 56px;
        font-weight: var(--font-weight-6);
        color: var(--text-5);
        align-items: center;
        text-align: center;
        padding-bottom: 110px;
      }
  }
  @media (min-width: $breakpoint-xxl) {
    .reviewsContainer {
      padding: var(--size-12) var(--size-10);
    }
  
    .mapContainer {
      height: 520px;
      width: 100%;
    }

    .imagePosition1{
        top: 0px;
        left: 830px;
      }
    
      .imagePosition2{
        top: 140px;
        left: 960px;
      }
      .imagePosition3{
        top: 200px;
        left: 820px;
      }
      .clients {
        position: absolute;
        display:  flex;
        align-items: center;
        height: 122px;
        width: 118px;
        top: 100px;
        left: 613px;
      }

      .boxedText {
        margin-top: 10px;
    background-color: var(--green-10); /* Light background for the boxed text */
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-5);
    text-emphasis-color: var(--surface-1);
    line-height: var(--size-6);
    color: var(--surface-1);
    padding-left: var(--size-5);
    padding-right: var(--size-5);
      }

      .imageWithText img {
        height: 100px;
        width: 100px;
      }
      .testimonialText{
        font-size: 32px;
        font-weight: var(--font-weight-5);
        color: var(--green-10);
        align-items: center;
        text-align: center;
        padding-bottom: 20px;
      }
    
      .headerText {
        font-size: 56px;
        font-weight: var(--font-weight-6);
        color: var(--text-5);
        align-items: center;
        text-align: center;
        padding-bottom: 110px;
      }
    
  }
  